* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
  text-decoration: none !important;
}

/* Body */
body {
  width: 700px;
  background-color: #212121;
  color: #fff;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Nav */
.logo h1 {
  font-weight: lighter;
  cursor: default;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 700px;
  background-color: rgba(33, 33, 33, 0.5);
  padding: 1rem;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1;
}

lord-icon {
  cursor: pointer;
}

/* Main Body */
.search-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 100%;
  margin-top: 6rem;
}

.input {
  color: #fff;
  font: 1em/1.5 Hind, 'Quicksand';
}

form, .input, .caret {
  margin: auto;
}

form {
  position: relative;
  width: 100%;
  max-width: 17em;
}

.input, .caret {
  display: block;
  transition: all calc(1s * 0.5) linear;
}

.input {
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 0.25em inset;
  caret-color: #255ff4;
  width: 2em;
  height: 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.input:focus, .input:valid {
  background: rgb(70, 70, 70);
  border-radius: 0.25em;
  box-shadow: none;
  padding: 0.75em 1em;
  transition-duration: calc(1s * 0.25);
  transition-delay: calc(1s * 0.25);
  width: 100%;
  height: 3em;
  cursor: text;
}

.input:focus {
  animation: showCaret 1s steps(1);
  outline: transparent;
}

.input:focus + .caret, .input:valid + .caret {
  animation: handleToCaret 1s linear;
  background: transparent;
  width: 1px;
  height: 1.5em;
  transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
}

.input::-webkit-search-decoration {
  -webkit-appearance: none;
}

label {
  color: #e3e4e8;
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
}

.caret {
  background: #fff;
  border-radius: 0 0 0.125em 0.125em;
  margin-bottom: -0.6em;
  width: 0.25em;
  height: 1em;
  transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
  transform-origin: 50% 0;
}

/* Animations */
@keyframes showCaret {
  from {
      caret-color: transparent;
  }
  to {
      caret-color: #fff;
  }
}

@keyframes handleToCaret {
  from {
      background: currentColor;
      width: 0.25em;
      height: 1em;
      transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
  }
  25% {
      background: currentColor;
      width: 0.25em;
      height: 1em;
      transform: translate(0,-1em) rotate(-180deg) translate(0,0.875em);
  }
  50%, 62.5% {
      background: currentColor;
      width: 1px;
      height: 1.5em;
      transform: translate(0,-1em) rotate(-180deg) translate(7.5em,2.5em);
  }
  75%, 99% {
      background: currentColor;
      width: 1px;
      height: 1.5em;
      transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
  }
  87.5% {
      background: currentColor;
      width: 1px;
      height: 1.5em;
      transform: translate(0,-1em) rotate(-180deg) translate(7.5em,0.125em);
  }
  to {
      background: transparent;
      width: 1px;
      height: 1.5em;
      transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
      width: 100%;
      padding: 0 1rem;
  }

  .navbar {
      width: 100%;
  }

  form {
      width: 100%;
      max-width: none;
  }

  .input {
      width: 30px;
      height: 30px;
  }

  .search-result {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 1rem;
      overflow-x:scroll;
  }

  .search-result {
      flex-direction: column;
      align-items: center;
  }

  table, th, td {
      display: block;
      width: 100%;
      white-space: nowrap;
      overflow-x: auto;
  }

  th, td {
      padding: 10px 5px;
      text-align: left;
      border-bottom: 1px solid #ddd;
  }

  th {
    display: none;
  }

  img {
      max-width: 70px;
      border-radius: 5px;
  }
}

/* Additional Styles */
h2 {
  font-weight: lighter;
}

footer {
  color: white;
  text-align: center;
  padding: 1rem;
}

/* Contenedor de resultados de búsqueda */
.search-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  gap: 20px;
  width: 100%;
}

/* Contenedor de resultados de Spotify */
.spt-results, .yt-results {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  margin-right: 1rem;
  align-items: baseline;
}

.result-content {
  height: 100%;
  width: auto;
}

/* Resultados individuales */
.result {
  text-align: center;
  margin-bottom: 20px;
  background-color: #333;
  border-radius: 8px;
  padding: 10px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin: 1rem;
}

/* Imágenes dentro de los resultados */
.spt-results img, .yt-results img {
  width: 100%;
  max-height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.result a {
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
  display: block;
}

.main-content {
  position: relative;
}

.pages {
  display: none;
}

button {
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
  background-color: #255ff4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1a4c9b;
}

/* Estilo para la tabla de resultados de YouTube y Spotify */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

img {
  max-width: 100px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

#spotify-embed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

/*about-page*/

.about-page {
  display: none;
}

.body-container{
  margin-top: 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h4{
  color: #fff !important;
}

p{
  color: #fff !important;
}

ul {
  color: #fff !important;
  margin: 0;
  padding: 0;
  list-style-type: disc;
  margin-left: 2rem;
}
li {
  margin: 0.5em 0;
}
.contact {
  margin-top: 1em;
}

a {
  color: #007bff !important;
  text-decoration: none;
}

.project-header{
  display: flex;
  align-items: center;
  gap: 15px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: #212121;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  margin-top: -.5rem;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
  margin-left: .5rem;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
  transition: 400ms;
}

.button:hover .text {
  color: #b31d7e !important;
  transition: 400ms;
}

.button:hover svg path {
  fill: #b31d7e !important;
  transition: 400ms;
}